<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina principal - STOK</title>
    <link rel="stylesheet" type="text/css" href="/app/static/css/main.css">
</head>

<body>
    <header class="cabeçalho">
        <nav class="opcao-cabeçalho">
            <a class="opcao-cabeçalho-item">Home</a>
            <a class="opcao-cabeçalho-item">Lojas</a>
            <a class="opcao-cabeçalho-item">Produtos</a>
        </nav>
    </header>

    <main>
        <section class="corpo">
            <div>
                <h1 class="text-corpo">Project Stok</h1>
                <h2 class="text-corpo">Este é o Project Stok. Seja bem-vindo! Aproveite para conhecer as lojas e produtos cadastrados</h2>
                <div class="botao">
                <button class="botao-corpo">Ver lojas</button>
                <button class="botao-corpo">Ver Produtos</button>
                </div>
            </div>
        </section>

        <section class="corpo1">
            <div>
                <h3 class="text-corpo1">O que é o <strong>Project Stok</strong>?</h3>
                <p class="text-corpo2">Esse é um <strong> protótipo de um site de gerenciamento de estoque </strong> desenvolvido por alunos de OO.</p>
                <p class="text-corpo2">Essa plataforma foi feita com o intenção de:</p>
                <p class="text-corpo2">1. O usuário possa ver as lojas cadastradas</p>
                <p class="text-corpo2">2. O usuário possa ver os produtos cadastrados</p>
            </div>
        </section>
    </main>

    <footer class="fim">
        <form action="/logout" method="post">
            <button class="fim-botao" type="submit">Logout</button>
        </form>
    </footer>
</body>
</html>