<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal STOK</title>
    <script src="/static/js/portal.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/portal.css">
</head>

<body>
    <img class="main-logo" src="{{'app/static/img/stok_gpt.png'}}">

    <main class="caixinha">
        <p>Login - STOK</p>

        <form action="/portal" method="post">
            <div class="entrar">
                <label for="username-input" class="sr-only">Usuário</label>
                <input id="username-input" placeholder="Usuário" name="username" type="text" required />
                </div>

            <div class="entrar">
                <label for="password-input" class="sr-only">Senha</label>
                <input id="password-input" placeholder="Senha" name="password" type="password" required />
                </div>

            <div>
                <button type="submit" class="button">Login</button>
            </div>
        </form>

        <form action="/logout" method="post" class="logout-form">
            <button type="submit" class="button logout-button">Logout</button>
        </form>


        <div class="cadastro">
            <p>Não tem uma conta? <a href="/solicitar-acesso">Solicite seu acesso aqui</a></p>
        </div>
    </main>

</body>
</html>